.article {
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 24px;
  padding: 16px;
  word-wrap: break-word;
}

.article h2 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 8px;
}

.article p {
  font-size: 1rem;
  margin: 0;
}

.article p:not(:last-child) {
  margin-bottom: 8px;
}

.article > div {
  margin-bottom: 12px;
}

.article > div span:not(:last-child) {
  border-right: 2px solid gray;
  padding-right: 12px;
  margin-right: 12px;
}

.article > a {
  margin-right: 12px;
  text-align: right;
}

.article > hr {
  border: none;
  border-bottom: 1px solid gray;
  height: 0;
  margin: 16px 0;
}

.article img {
  height: auto;
  width: 100%;
}

.article pre {
  background-color: lightgray;
  padding: 12px;
  overflow-x: scroll;
}

.article blockquote {
  border-left: 4px solid gray;
  margin: 20px;
  padding: 12px;
}
